<section class="container list">
    <h1 class="title">
      {{- if eq .Kind "taxonomy" -}}
        {{- i18n .Data.Singular | title -}}
        {{- print ": " -}}
      {{- end -}}
  
      {{- .Title -}}
    </h1>
    <h5>{{.Params.description}}</h5>
    <ul class="talklist">
      {{ range .Paginator.Pages }}
      <li class="talk">
        <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
        {{ if .Params.Duration }}[{{ .Params.Duration }}m] {{ end }}{{ .Params.Abstract | truncate 150 }} [<a href="{{ .Params.ExternalLink | default .RelPermalink }}">more</a>]
      </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
  </section>