@import url('https://rsms.me/inter/inter.css');

h1.greeting {
    font-weight:700;
    font-size:9rem;
    padding-bottom:2rem;
    padding-left:2rem;
}

a.navigation-title {
    font-weight:500;
}

.navigation-list {
    display:table;
}

.navigation-item a {
    display:table-cell;
    vertical-align:middle;
    padding: 0 1rem 0 1rem;
}

.fab {
    line-height:inherit;
    font-size:2.5rem;
}

.container.centered.homepage {
    align-items:flex-start;
}

.avatar {
    margin-top:12rem;
    margin-bottom:6rem;
}

li.talk {
    
    font-size:1.5rem !important;
    line-height:2rem;
    
    a.title {
        display:block;
    }
}

.talklist {
    .talk {
        margin-bottom:2rem;
        line-height:2.5rem;
    }
}

.talkdetail {
    h4 {
        margin-top:1rem;
    }
    
    .youtube {
        margin-top:3rem;
        display:block;
        width:80rem;
        height:48rem;
    }

    .duration {
        display:block;
        font-weight:bold;
    }

    a.slides {
        display:block;
        margin-top:2rem;
    }
}